<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                margin: 20px;
            padding: 20px;
        }
        h2 {
            text-align: center;
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .action-btn {
            text-align: center;
        }
        .action-btn a {
            text-decoration: none;
        }
        .action-btn button {
            background-color: #ea542f;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;
        }
        .action-btn button:hover {
            background-color: #ea542f;
        }
        </style>
<%- include(`./partials/header.ejs`) %>
</head>
<body>
<h2>List of Courses</h2>

<table>
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Action</th>
    </tr>
    <% data.forEach((course, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= course.name %></td>
            <td><%= course.duration %> Minute(s)</td>
            <td class="action-btn">
                <a href="/courses/<%= course.id %>"><button>See Detail</button></a>
            </td>
        </tr>
    <% }) %>
</table>

</body>
</html>
